/* x ▼ x ▼ x */
/* x ▲ x ▲ x */
  /* ▼ x ▼ */
  /* ▲ x ▲ */

/* {:{:{:{ ▼ BASE ▼ }:}:}:} */

  /* ▼ HTML ▼ */
html {
    color-scheme: light dark;
}
  /* ▲ HTML ▲ */

  /* ▼ COLOR SETUP ▼ */
:root {
    --color-seashade: light-dark(#a1c9d2, #425458);
    --color-tethys: light-dark(#7975ac, #29283d);
    --rotation: 0deg;
    --hueRotation: 0deg;
    --inverseHueRotation: 0deg;
}
  /* ▲ COLOR SETUP ▲ */

/* {:{:{:{ ▲ BASE ▲ }:}:}:} */

/* !:!:!:! ▼ MAIN ▼ !:!:!:! */

  /* ▼ ELEMENTS ▼ */
  /* ▲ ELEMENTS ▲ */

  /* ▼ CLASSES ▼ */
.main_site {
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0;
    padding: 0;
    min-width: 100vw;
    min-height: 100vh;
    scrollbar-width: none;
    overflow-x: hidden;
    overflow-y: hidden;
}
.main_background {
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, #454545, #9a9a9a);/*var(--color-seashade), var(--color-tethys));*/
  filter: hue-rotate(var(--hueRotation));
}
.main_boxshadow {
  position: absolute;
  height: 100%;
  width: 100%;
  filter: hue-rotate(var(--inverseHueRotation));
  box-shadow: inset 0px -50vh 200px -250px #ff00ff;
}
.material-symbols-rounded {
    font-variation-settings: 'FILL' 1;
}
  /* ▲ CLASSES ▲ */
  
  /* ▼ DIV IDS ▼ */
  /* ▲ DIV IDS ▲ */

  /* ▼ ANIMATIONS ▼ */
  /* ▲ ANIMATIONS ▲ */

/* !:!:!:! ▲ MAIN ▲ !:!:!:! */